{% extends 'base.html.twig' %}
{% block Script %}
   <script src="mi_js/misScripts.js"></script>
{% endblock %}    
{% block contenido %}

        <main>
      <div class="container">
          <h4>Cambiar configuracion</h4>
          <!-- Alentar de mensajes -->    
          {% if mensaje %}
              <div class="alert {% if mensaje.getType() == 'success' %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade in show" role="alert">
                  <strong>{{ mensaje.getDisplay() }}</strong> {{ mensaje.getMsj() }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endif %}  
          <form class="form-horizontal" role="form" method="post" 
            action="./index.php?categoria=configuracion&accion=configuracion_modificacion">
                <div class="form-group"> <!-- TITULO -->
                  <label for="titulo" class="col-sm-2 control-label">Titulo</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" name="titulo" id="titulo" requerid size="100"
                       value="{{ data['titulo'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- Descripcion -->
                  <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" name="descripcion" id="descripcion"required size="100" 
                      value="{{ data['descripcion'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- mail -->
                  <label for="mail" class="col-sm-2 control-label">Mail de contacto</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" name="mail" id="mail" size="100" 
                      value="{{ data['mail'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- Paginado -->
                  <label for="paginado" class="col-sm-2 control-label">Paginado</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" name="paginado" id="paginado" required 
                      value="{{ data['paginado'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- Sitio habilitado -->
                  <label for="habilitado" class="col-sm-2 control-label">Habilitado</label>
                   <div class="col-sm-2">
                       <select class="form-control" name="habilitado" id="habilitado"> 
                              {% if data['habilitado'].getValor == 'true' %}
                               <option value="true" selected="selected"> Si </option>
                              <option value="false"> No</option>
                               {% else %} 
                              <option value="false" selected="selected"> No</option>
                               <option value="true"> Si </option>

                              {% endif %}
                       </select>
                  </div>
                </div>
                <div class="form-group">
                   <div method="post" class="col-sm-offset-3 col-sm-3">
                        <button type="submit" class="btn btn-info" >
                        <span class="glyphicon glyphicon-user"></span> Guardar cambios</button>
                        </div>
                   </div>
                <div class="form-group">
            </form>
            </div> 
        </main>
{% endblock %}    