<!DOCTYPE html>
<html lang='es'>
    <head>
        <!-- Inico Pagina -->     
        <link rel="icon" href="./images/favicon.ico">
        <!-- Estilos de bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <!-- Archivo de Configuracion para sobreescribir Bootstrap-->
        <link rel="stylesheet" href="css/miConfiguracionBootstrap.css"> 
        <!-- Tamaño y encoding -->  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="mi_js/misScripts.js"></script>
        <title>Hospital Dr. Alejandro Korn - Configuraciones</title>
        <!-- Script de bootstrap y Alertas-->          
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
   </head>
   <body>
    <!-- ************************* Barra de Navegacion ***************************** -->
    <nav class="navbar navbar-default">
        <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos en los dispositivos móviles -->
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
             <span class="sr-only">Desplegar navegación</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
             <a class="navbar-text pull-center" href="{% if data['habilitado'].getValor() == 'true' %} ./index.php?categoria=administracion {% else %} ./index.php?categoria=configuracion {% endif %} ">
             <img src="./images/logo.svg" title="Cruz Roja, logo del Hospital." alt="Cruz Roja, logo del Hospital."></a>
         </div>
       
        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
         
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if data['habilitado'].getValor() == 'true' %}
             <ul class="nav navbar-nav">
                <!-- Pestaña inicio -->
                <li><a class="navbar-text" href="./index.php?categoria=administracion">Inicio</a></li>
                <!-- pestaña Consultas -->
                <li><a class="navbar-text" href="#">Consultas</a></li>
                <!-- Pestaña Paciente  -->
                <li><a class="navbar-text" href="./index.php?categoria=paciente&accion=paciente_verTodos">Pacientes</a></li>
                <!-- Pestaña Administracion -->
                <li class="dropdown">
                    <a class="navbar-text" href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <li><a href="./index.php?categoria=usuarios&accion=listarUsuarios">Usuarios</a></li>
                       <li class="divider"></li>
                        <li><a href="./index.php?categoria=estadistica&accion=grafico_ver">Reportes</a></li>
                       <li class="divider"></li> 
                       <li><a href="./index.php?categoria=configuracion&accion=configuracion_ver">Configuraciones</a></li>

                    </ul>
               </li>  
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right"> 
                <li class="dropdown">
                 </li>   
                 <li class="dropdown">   
                    <a class="navbar-text">{{user.username}}</a>  
                    <a class="navbar-text" href="./index.php?accion=logout">Cerrar Sesion</a>
                </li> 
             </ul>
         </div>
    </nav> 
    <!-- ************************* Fin Barra de Navegacion ***************************** -->
    <main>
    	<div class="container">
          <div class="text-left">
              <h3>Cambiar configuracion</h3>
              <hr>
          </div>
          <!-- Alentar de mensajes -->    
	        {% if mensaje %}
	            <div class="alert {% if mensaje.getType() == 'success' %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade in show" role="alert">
	                <strong>{{ mensaje.getDisplay() }}</strong> {{ mensaje.getMsj() }}
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	        {% endif %}  
          <form class="form-horizontal" role="form" method="post" 
            action="./index.php?categoria=configuracion&accion=configuracion_modificacion">
                <div class="form-group"> <!-- TITULO -->
                  <label for="titulo" class="col-sm-2 control-label">Titulo</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" name="titulo" id="titulo" requerid size="100"
                       value="{{ data['titulo'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- Descripcion -->
                  <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" name="descripcion" id="descripcion"required size="100" 
                      value="{{ data['descripcion'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- mail -->
                  <label for="mail" class="col-sm-2 control-label">Mail de contacto</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" name="mail" id="mail" size="100" 
                      value="{{ data['mail'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- Paginado -->
                  <label for="paginado" class="col-sm-2 control-label">Paginado</label>
                  <div class="col-sm-4">
                      <input type="number" class="form-control" name="paginado" id="paginado" required min="1" max="99999999999"
                      value="{{ data['paginado'].getValor }}">
                  </div>
                </div>
                <div class="form-group"> <!-- Sitio habilitado -->
                  <label for="habilitado" class="col-sm-2 control-label">Habilitado</label>
                   <div class="col-sm-2">
                       <select class="form-control" name="habilitado" id="habilitado"> 
                              {% if data['habilitado'].getValor == 'true' %}
                               <option value="true" selected="selected"> Si </option>
                              <option value="false"> No</option>
                               {% else %} 
                              <option value="false" selected="selected"> No</option>
                               <option value="true"> Si </option>

                              {% endif %}
                       </select>
                  </div>
                </div>
                <div class="form-group">
                   <div method="post" class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-info" >
                        <span class="glyphicon glyphicon-user"></span> Guardar cambios</button>
                        <button type="reset" class="btn btn-secondary"><span>&#x21B6;</span> Reiniciar campos</button>
                        <a href="./index.php?categoria=administracion" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
                        </div>
                   </div>
                <div class="form-group">
            </form>
            </div> 
        </main>
    <!-- ************************* Pie de Pagina  ***************************** -->
   <!-- Fin Pie de Pagina -->
   </body>
     <footer class="navbar-fixed-bottom page-footer font-small special-color-dark pt-4">
    <div class="container">
           <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                     <div class = "center-block pull-left">
                         <span class ="footer-confg">Proyecto de Software 2018 - Hospital Dr. Alejandro Korn</span> 
                     </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                   <div class = "center-block pull-right">  
                      <span class = "footer-confg">v 0.2.4</span>
                   </div>   
                </div> 
          </div>
    </div>
   </footer>
</html>