{% extends 'base.html.twig' %}
{% block Head %}
    <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Administracion</title>
{% endblock %}
{% block Script %}
<!-- Librerias para el mapa -->
    <script src  ='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link   href ='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
 <!-- validaciones -->   
    <script type= "text/javascript" src="mi_js/autocompletePaciente.js"></script>
    <script type= "text/javascript" src="mi_js/validarCreacionConsulta.js"></script>
{% endblock %}    
{% block contenido %}
{% if mensaje is defined %}
    <div class="alert {% if mensaje.getType() == 'success' %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade in show" role="alert">
         <strong>{{ mensaje.getDisplay() }}</strong> {{ mensaje.getMsj() }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
         </button>
    </div>
{% endif %}
		<main>
            <div class="container margin-space">
                <div class="col-sm-offset-2 col-sm-8 text-center">
                    <h4>Crear Consulta</h4>
                    <hr>
                </div>
                 <div class="col-sm-offset-2 col-sm-8">
                    <form id="consultaForm" role="form" method="post" action="./index.php?categoria=consulta&accion=consulta_insertar" accept-charset="ISO-8859-1">
                        <div class="form-group">
                            <div class = "ui-widget">
                                 <input class="form-control" id="paciente" placeholder="Ingrese Apellido, Nombre o Numero de Idetificacion de Paciente" required>
                            </div>
                        </div> 
                        <div id="selection"></div>
                        <div class="form-group"> <!-- ID de persona -->
                             <input type="text" class="form-control" name="id" id="id" size="20" readonly required>
                        </div> 
                        <div class="form-group text-center">
                             <hr>
                        </div>
                        <!-- Mapa -->
                        <div class="form-group">
                           <label for="map-container">Instituciones concurridas por el paciente</label>
                           <div id="map-container">
                               <div id='map'></div>
                           </div> 
                        </div>
                        <div class="form-group text-center">
                             <hr>
                        </div> 
                        <div class="form-group"> <!-- Fecha Consulta -->
                            <label for="fechaConsulta">Fecha Consulta</label>
                            <input type="date" class="form-control" name="fechaConsulta" id="fechaConsulta" required>
                        </div>
                        <div class="form-group"> <!-- Motivo -->
                             <label for="genero">Motivo</label>
                             <select class="form-control" name="motivo" id="motivo" required> 
                             {% for motivo in motivos %}
                                  <option value="{{motivo.getId()}}" selected>{{motivo.getNombre()}}</option>
                             {% endfor %} 
                            </select>
                        </div> 
                        <div class="form-group"> <!-- Articulacion con otros Instituciones -->
                             <label for="articulacion">Articulacion con otros Instituciones</label>
                             <input type="text" class="form-control" name="articulacion" id="articulacion">
                        </div> 
                        <div class="form-group"> <!-- Internacion -->
                           <label for="internacion">Irternación</label>
                           <select class="form-control" name="internacion" id="internacion" required>
                              <option value="1" selected>SI</option> 
                              <option value="0">NO</option>
                           </select>
                        </div>
                        <div class="form-group"> <!-- Diagnostico -->
                            <label for="diagnostico">Diagnostico</label>
                            <input type="text" class="form-control" name="diagnostico" id="diagnostico" required size="100">
                        </div>
                        <div class="form-group"> <!-- Observaciones -->
                            <label for="observaciones">Observaciones</label>
                            <input type="text" class="form-control" name="observaciones" id="observaciones" required size="100">
                        </div>
                        <div class="form-group"> <!-- Tratamiento Farmacologico -->
                            <label for="farmacologico">Tratamiento Farmacológico</label>
                            <select class="form-control" name="farmacologico" id="farmacologico"> 
                              <option value="NULL" selected>Sin tratamiento Farmacologico</option> 
                              {% for farmacologico in farmacologicos %}
                                  <option value="{{farmacologico.getId()}}">{{ farmacologico.getNombre() }}</option>
                              {% endfor %} 
                            </select>
                        </div> 
                        <div class="form-group"> <!-- Acompañamiento -->
                             <label for="farmacologico">Acompañamiento</label>
                             <select class="form-control" name="acompa" id="acompa"> 
                               <option value="NULL" selected>Sin acompañamiento</option> 
                               {% for acompa in acompas %}
                                  <option value="{{ acompa.getId()}}">{{acompa.getNombre()}}</option>
                               {% endfor %} 
                             </select>
                        </div> 
                        <div class="form-group"> <!-- Institucion -->
                             <label for="institucion">Institución</label>
                             <select class="form-control" name="institucion" id="institucion"> 
                               <option value="NULL" selected>Indique institucion de derivación</option> 
                               {% for institucion in instituciones %}
                                  <option value="{{ institucion.getId() }}">{{institucion.getNombre()}}</option>
                               {% endfor %} 
                             </select> 
                        </div>     
                        <br>
                        <br>
                        <div class="form-group text-center">
                             <div method="post">
                                 <button type="submit" class="btn btn-info" >
                                 <span class="glyphicon glyphicon-user"></span> Crear Consulta</button>
                                 <button type="reset" class="btn btn-secondary"><span>&#x21B6;</span> Reiniciar campos</button>
                                 <a href="./index.php?categoria=consulta&accion=consulta_verTodos" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
                             </div>
                        </div> 
                    </form>   
                </div>
	       </div>  
        </main>
{% endblock %}    