{% extends 'base.html.twig' %}
{% block Head %}
  <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Crear Paciente</title>
{% endblock %}
{% block Script %}
   <script src="mi_js/misScripts.js"></script>
   <script src="mi_js/validarPacienteDatos.js"></script>
{% endblock %}    
{% block contenido %}
    <main>  
        <div class="container margin-space">  
          <div class="col-sm-offset-2 col-sm-8">
            <form id="pacienteForm" class="form-horizontal" role="form" method="post" action="./index.php?categoria=paciente&accion=paciente_insertar">
                 <div class="form-group text-center">
                      <div>
                          <h3>Crear Paciente</h3>  
                      </div>
                      <hr>
                 </div>
                <!-- Alentar de mensajes -->    
                {% if mensaje is defined %}  
                <div class="alert alert-danger alert-dismissable">
                     <button type="button" data-dismiss="alert" class="close">&times;</button>
                     <strong>{{ mensaje.getTitulo() }}</strong> {{ mensaje.getCuerpo() }} 
                </div>
                {% endif %}   
                 <div class="form-group"> <!-- Nombre -->
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" required size="20">
                 </div>
                 <div class="form-group"> <!-- Apellido -->
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" required size="20">
                 </div>
                 <div class="form-group"> <!-- Fecha Nacimiento -->
                    <label for="fechaNacimineto">Fecha Nacimineto</label>
                    <input type="date" class="form-control" name="fechaNacimineto" id="fechaNacimineto" required>
                 </div>
                 <div class="form-group"> <!-- Lugar de Nacimiento -->
                     <label for="lugarNacimineto">Lugar de nacimineto</label>
                     <input type="text" class="form-control" name="lugarNacimineto" id="lugarNacimineto" size="70">
                 </div>
                 <div class="form-group"> <!-- Partido -->
                      <label for="partido">Partido</label>
                      <select class="form-control" name="partido" id="partido" onchange='seleccionarInfoPartido();'>
                          <option value="0" selected>Vacio</option>
                          {% for partido in partidos %}
                          <option value="{{ partido.id }}">{{ partido.nombre }}</option>
                          {% endfor %} 
                      </select>
                </div>
                <div class="form-group"> <!-- Region Sanitaria -->
                      <label for="regionSanitaria">Region Sanitaria</label>
                      <input type="text" class="form-control" name="regionSanitaria" id="regionSanitaria" readonly>
                </div>
                <div class="form-group"> <!-- Localidad -->
                      <label for="localidad">Localidad</label>
                      <select class="form-control" name="localidad" id="localidad">
                          <option value="0" selected>Vacio</option> 
                      </select>
                </div>
                <div class="form-group"> <!-- Domicilio -->
                      <label for="domicilio">Domilicio</label>
                      <input type="text" class="form-control" name="domicilio" id="domicilio" required size="70">
                </div>
                <div class="form-group"> <!-- Genero -->
                      <label for="genero">Genero</label>
                      <select class="form-control" name="genero" id="genero" required> 
                          {% for genero in generos %}
                            {% if loop.first %}
                              <option value="{{genero.getId()}}" selected>{{genero.getNombre()}}</option>
                            {% else %}
                              <option value="{{genero.getId()}}">{{genero.getNombre()}}</option>
                            {% endif %}  
                          {% endfor %} 
                      </select>
                </div>
                <div class="form-group"> <!-- Tiene Documento -->
                      <label for="tieneDoc">Tiene Documento ?</label>
                      <select class="form-control" name="tieneDoc" id="tieneDoc" onchange='tieneDocumento();' required>
                          <option value="1" selected>SI</option> 
                          <option value="0">NO</option>
                      </select>
                </div>
                <div class="form-group"> <!-- Tipo Documento -->
                      <label for="tipoDocumento">Tipo de Documento</label>
                      <select class="form-control" name="tipoDocumento" id="tipoDocumento" required>
                            {% for documento in documentos %}
                               {% if loop.first %}
                                    <option value="{{ documento.id }}" selected>{{ documento.nombre }}</option>
                               {% else %}
                                    <option value="{{ documento.id }}">{{ documento.nombre }}</option>
                               {% endif %}
                            {% endfor %} 
                      </select>
                </div>
                <div class="form-group"> <!-- Numero de Documento -->
                      <label for="nroDocumento">Numero Documento</label>
                      <input type="number" class="form-control" name="nroDocumento" id="nroDocumento" min="0" max="99999999999" required>
                </div>
                <div class="form-group"> <!-- Historia Clinica -->
                      <label for="nroHistClinica">Numero Historia Clinica</label>
                      <input type="number" class="form-control" name="nroHistClinica" id="nroHistClinica" min="0" max="999999">
                </div>
                <div class="form-group"> <!-- Numero de Carpeta -->
                     <label for="nroCarpeta">Numero Carpeta</label>
                     <input type="number" class="form-control" name="nroCarpeta" id="nroCarpeta"  min="0" max="99999">
                </div>
                <div class="form-group"> <!-- Numero de Telefono -->
                     <label for="telefono">Telefono</label>
                     <input type="tel" class="form-control" name="telefono" id="telefono" size="20">
                </div>
                <div class="form-group"> <!-- Obra social -->
                     <label for="obraSocial">Obra Social</label>
                     <select class="form-control" name="obraSocial" id="obraSocial">
                        <option value="0" selected>S/obra Social</option>
                            {% for obraSocial in obraSociales %}
                                <option value="{{ obraSocial.id }}">{{ obraSocial.nombre }}</option>
                            {% endfor %} 
                     </select>
                </div>
                <div class="form-group text-center">
                     <div method="post">
                         <button type="submit" class="btn btn-info" >
                         <span class="glyphicon glyphicon-user"></span> Crear Paciente</button>
                         <button type="reset" class="btn btn-secondary"><span>&#x21B6;</span> Reiniciar campos</button>
                         <a href="./index.php?categoria=paciente&accion=paciente_verTodos" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
                     </div>
                </div>  
       </form> 
      </div>      
    </div>   
</main>
{% endblock %}     