 {% extends 'base.html.twig' %}
  {% block Head %}
    <title>Hospital Dr. Alejandro Korn - Estadisticas</title>
            <link rel="stylesheet" href="css/highcharts.css"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="highcharts/highcharts.js"></script>
	<script src="highcharts/exporting.js"></script>
	<script src="highcharts/export-data.js"></script>
  <script src="highcharts/export.js"></script>
{% endblock %}

{% block contenido %}


{% if sobre == 'genero' %}

 <div id="HTMLtoPDF" style="width: 50% ; float:left">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Fecha de Consulta</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Diagnostico</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in 0..total %}
                           <tr>
                              <td>{{ cope[i]["fecha"] }}</td>
                              <td>{{ cope[i]["motivo"] }}</td>
                              <td>{{ cope[i]["nombre"] }} </td>
                              <td>{{ cope[i]["apellido"] }}</td>
                              <td>{{ cope[i]["diagnostico"] }}</td>
                           </tr> 
                          {% endfor %}
                        </tbody>   
                </table>
             </div>
               <form>

  <a href="#" onclick="HTMLtoPDF()">Descargar tabla</a>
  <script src="highcharts/jspdf.js"></script>
  <script src="highcharts/jquery-2.1.3.js"></script>
  <script src="highcharts/pdfFromHTML.js"></script>





	<form>
    <input hidden="true" type="text" id="datos" value= {{  data }}>
</form>
   <div id="container" style="width: 50%; height: 50%; margin: 0 auto ; float: right " ></div>
<script src="highcharts/estaditico.js"></script>

{% elseif sobre == 'consulta' %}



 <div id="HTMLtoPDF" style="width: 50% ; float:left">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Fecha de Consulta</th>
                            <th scope="col">Motivo de Consulta</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Diagnostico</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in 0..total %}
                           <tr>
                              <td>{{ cope[i]["fecha"] }}</td>
                              <td>{{ cope[i]["motivo"] }}</td>
                              <td>{{ cope[i]["nombre"] }} </td>
                              <td>{{ cope[i]["apellido"] }}</td>
                              <td>{{ cope[i]["diagnostico"] }}</td>
                           </tr> 
                          {% endfor %}
                        </tbody>   
                </table>
             </div>
               <form>
    <input hidden="true" type="text" id="datos" value= '{{  data }}''>
  </form>
  <div id="motivoconsulta" style="width: 40%; height: 40%; margin: 0 auto; float: right"></div>
<script src="highcharts/estadisticoMotivoConsultas.js"></script>


  <a href="#" onclick="HTMLtoPDF()">Descargar tabla</a>
  <script src="highcharts/jspdf.js"></script>
  <script src="highcharts/jquery-2.1.3.js"></script>
  <script src="highcharts/pdfFromHTML.js"></script>

{% else %}

 <div id="HTMLtoPDF" style="width: 50% ; float:left">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Fecha de Consulta</th>
                            <th scope="col">Localidad</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Diagnostico</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in 0..total %}
                           <tr>
                              <td>{{ cope[i]["fecha"] }}</td>
                              <td>{{ cope[i]["motivo"] }}</td>
                              <td>{{ cope[i]["nombre"] }} </td>
                              <td>{{ cope[i]["apellido"] }}</td>
                              <td>{{ cope[i]["diagnostico"] }}</td>
                           </tr> 
                          {% endfor %}
                        </tbody>   
                </table>
             </div>
               <form>


  <a href="#" onclick="HTMLtoPDF()">Descargar tabla</a>
  <script src="highcharts/jspdf.js"></script>
  <script src="highcharts/jquery-2.1.3.js"></script>
  <script src="highcharts/pdfFromHTML.js"></script>





	<form>
    <input hidden="true" type="text" id="datos" value= '{{  data }}'>
</form>
  <div id="localidad" style="width: 50%; height: 50%; margin: 0 auto ;float: right; "></div>
<script src="highcharts/estadisticoXLocalidad.js"></script>

{% endif %}



{% endblock %} 


