<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="icon" href="./images/favicon.ico">
        <title>Hospital Dr. Alejandro Korn - Administración</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/mobileStyle.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="box">
            <div class="leftCenter">
                <a href="./index.php?categoria=administracion">
                    <img src="./images/logo.svg" title="Cruz Roja, logo del Hospital." alt="Cruz Roja, logo del Hospital.">
                </a>
                <nav>
                    <ul>
                        <li><a href="./index.php?categoria=administracion" >Inicio</a></li>
                        <li><a href="">Consultas</a></li>
                        <li><a href="">Pacientes</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Administracion</a>
                            <div class="dropdown-content">
                                <a href="./index.php?categoria=usuarios">Usuarios</a>
                                <a href="#">Roles</a>
                                <a href="#">Permisos</a>
                                <a href="#">Configuracions</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="rightCenter" >
                <form action="#">
                    <input type="text" placeholder="Buscar..." title="Ingrese texto aqui para buscar por algun criterio." required>
                    <input type="submit" value="Buscar" title="Clickee aqui para buscar el texto ingresado.">
                </form>
                <a>{{user}}</a>
                <a href='./index.php?accion=logout'>Cerrar Sesion</a>
            </div>
        </header>
            <main class="lightBox">
                <h3>Modificar Usuario</h3>
                <span>{{ mensaje }}</span>
                <form method="post" action="./index.php?categoria=modificarUsuario&accion=modificar&id={{ usuario.id }}">
                    <label for="user">Usuario:</label>
                    <input type="text" name="user" value="{{ usuario.username }}">
                    <br>
                    <label for="confirmUser">Confirmar Usuario:</label>
                    <input type="text" name="confirmUser" value="{{ usuario.username }}">
                    <br>
                    <label for="pass">Password:</label>
                    <input type="password" name="pass" value="{{ usuario.password }}">
                    <br>
                    <label for="confirmPass">Confirmar Password:</label>
                    <input type="password" name="confirmPass" value="{{ usuario.password }}">
                    <br>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" value="{{ usuario.firstName }}">
                    <br>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" value="{{ usuario.lastName }}">
                    <br>
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" value="{{ usuario.email }}">
                    <br>
                    <label for="confirmEmail">Confirmar E-mail:</label>
                    <input type="email" name="confirmEmail" value="{{ usuario.email }}">
                    <br>
                    <label for="activo">Activo:</label>
                    <input type="checkbox" name="activo" {% if usuario.activo %} checked {% endif %}>
                    <br>
                    <input type="hidden" name="id" value="{{ usuario.id }}">
                    <br>
                    <span>Roles:</span>
                    {% for rol in arrayRoles %}
                        <label for="rls[]">{{ rol }}</label><input type="checkbox" name="rls[]" {% if rol in arrayRolesUsuario %} checked {% endif %} value="{{ rol }}">
                    {% endfor %}
                    <br>
                    <br>
                    <input type="submit">
                </form>
            </main>
            <footer class="box">
                <span class="leftCenter">Proyecto de Software 2018 - Hospital Dr. Alejandro Korn</span>
                <span class="rightCenter">v 0.1.0</span>
            </footer>
    </body>
</html>