{% extends 'base.html.twig' %}
{% block Head %}
    <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Modificar usuario</title>
{% endblock %}
{% block Script %}
        <script src="js/validarFormularioUsuario.js"></script>
{% endblock %} 
{% block contenido %}
  <main>  
        <div class="container margin-space">  
          <div class="col-sm-offset-2 col-sm-8">
            <div class="form-group">
                      <div class="col-sm-offset-5">
                          <h4>Editar usuario</h4>  
                      </div>
                 </div>
                 
                 {% if mensaje %}
                    <div class="alert {% if mensaje.getType() == 'success' %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade in show" role="alert">
                        <strong>{{ mensaje.getDisplay() }}</strong> {{ mensaje.getMsj() }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                 
                <form method="post" action="./index.php?categoria=usuarios&accion=modificar&id={{ usuario.id }}" id="userForm">
                 <div class="form-group"> 
                    <label for="user">Nombre de usuario</label>
                    <input type="text" class="form-control" name="user" id="user" value="{{ usuario.username }}" requerid size="100">
                 </div>
                 <div class="form-group"> 
                    <label for="confirmUser">Confirmar usuario</label>
                    <input type="text" class="form-control" name="confirmUser" id="confirmUser" value="{{ usuario.username }}" requerid size="100">
                 </div>

                  <div class="form-group"> 
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" name="pass" id="pass" value="{{ usuario.password }}" requerid size="100" minlength="6" required>
                 </div>

                 <div class="form-group"> 
                    <label for="confirmPass">Confirmar contraseña</label>
                    <input type="password" class="form-control" name="confirmPass" id="confirmPass" value="{{ usuario.password }}"  requerid size="100" minlength="6" required>
                 </div>

                 <div class="form-group"> 
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="{{ usuario.firstName }}" requerid size="100" >
                 </div>

                 <div class="form-group"> 
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" value="{{ usuario.lastName }}" requerid size="100">
                 </div>

                 <div class="form-group"> 
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" name="email" id="email" value="{{ usuario.email }}" requerid size="100" minlength="6" required>
                 </div>

                 <div class="form-group"> 
                    <label for="confirmEmail">confirmar E-mail</label>
                    <input type="text" class="form-control" name="confirmEmail" id="confirmEmail" value="{{ usuario.email }}" requerid size="100" minlength="6" required>
                 </div>


                 <div class="form-group"> 
                           <label for="activo">Activo:</label>
                           <input type="checkbox" class="custom-control-input" name="activo" {% if usuario.activo %} checked {% endif %}>
                 </div>

                  <input type="hidden" name="id" value="{{ usuario.id }}" readonly>

                 <div class="form-group"> 
                            <span>Roles:</span>
                    {% for rol in arrayRoles %}
                        <label for="rls[]">{{ rol }}</label>
                        <input type="checkbox" class="custom-control-input" name="rls[]" {% if rol in arrayRolesUsuario %} checked {% endif %} value="{{ rol }} ">
                        <br>
                    {% endfor %}
                 </div>


              <div class="form-group">
                <div class="col-sm-offset-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="reset" class="btn btn-secondary"><span>&#x21B6;</span> Reiniciar campos</button>
              <a href="javascript:history.back()" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
         </div>
      </div>
       </form> 
        <p>Nota: El nombre de usuario y la contrasena deben tener al menos 6 caracteres de longitud.</p>
      </div>      
    </div>   
</main>


{% endblock %}    