{% extends 'base.html.twig' %}
{% block Head %}
    <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Ver usuario</title>
{% endblock %}
{% block Script %}
    <script src="mi_js/misScripts.js"></script>
{% endblock %}
{% block contenido %}
<main>
    <div class="container margin-space">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Datos usuario</div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr><th>Nombre de usuario:</th><td>{{ usuario.username }}</td></tr>
                                <tr><th>Nombre:</th><td>{{ usuario.firstName }}</td></tr>
                                <tr><th>Apellido:</th><td>{{ usuario.lastName }}</td></tr>
                                <tr><th>E-mail:</th><td>{{ usuario.email  }}</td></tr>
                                <tr><th>Estado de cuenta: </th><td>{% if usuario.activo == 1 %} Activo {% else %} Inactivo {% endif %}</td></tr>
                                <tr><th>Id de usuario:</th><td>{{ usuario.id }}</td></tr>
                                <tr><th>Roles:</th>{% for rol in roles %}<td> {{ rol }}</td>{% endfor %}</tr>
                                <tr><th>Fecha y hora de creacion:</th><td>{{ usuario.createdat|date("d/m/Y H:i") }}</td></tr>
                                <tr><th>Fecha y hora de actualizacion:</th><td>{{ usuario.updatedat|date("d/m/Y H:i") }}</td></tr>
                                <tr>                             
                                    <td>
                                        <div class= "text-right" style="margin:1%">
                                             <a href="javascript:history.back()" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Volver </a>
                                        </div>
                                    <td>
                                    <td>
                                    <td>
                               <tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}