{% extends 'base.html.twig' %}
{% block Script %}
{% endblock %}  
{% block contenido %}
<main>
    <div class="container margin-space">
    	<div class="col-sm-9"> 
		    <div class="panel panel-primary">
		      <div class="panel-heading">Datos Personales</div>
		        	<div class="panel-body">
		        	    <table class="table">
		        	        <tbody>
		        	           <tr>
		        	    	       <td>Nombre:<td>
		        	    	       <td>{{ paciente.nombre }}<td>
		        	    	   <tr> 
		        	    	   <tr>
		        	    	       <td>Apellido:<td>
		        	    	       <td>{{ paciente.apellido }}<td>
		        	    	   <tr>
		        	    	   <tr>
		        	    	       <td>Genero:<td>
		        	    	       <td>{{ paciente.genero.nombre }}<td>
		        	    	   <tr> 
		        	    	   <tr>
		        	    	       <td>Fecha Nacimiento:<td>
		        	    	       <td>{{ paciente.getFechaNac()|date("m/d/Y")}}<td>
		        	    	   <tr> 
		        	    	   <tr>
		        	    	       <td>Tipo Documento:<td>
		        	    	       <td>{{ paciente.getTipoDoc.getNombre()}}<td>
		        	    	   <tr> 
		        	    	   <tr>
		        	    	       <td>Numero Documento:<td>
		        	    	       <td>{{ paciente.getNumero }}<td>
		        	    	   <tr> 
		        	    	   <tr>
		        	    	       <td>Telefono:<td>
		        	    	       <td>{{ paciente.getTel }}<td>
		        	    	   <tr> 	
		        	  		   <tr>
		        	    	       <td>Domicilio:<td>
		        	    	       <td>{{ paciente.getDomicilio() }}<td>
		        	    	   <tr>
		        	  		   <tr>
		        	    	       <td>Localidad:<td>
		        	    	       <td>{{ paciente.getLocalidad().getNombre() }}<td>
		        	    	   <tr>
		        	    	   <tr>
		        	    	       <td>Región Sanitaria:<td>
		        	    	       <td>{{ paciente.getRegionSanitaria().getNombre() }}<td>
		        	    	   <tr>
		        	  		   <tr>
		        	    	       <td>Obra Social:<td>
		        	    	       <td>{{ paciente.getObraSocial().getNombre() }}<td>
		        	    	   <tr>
		        	  		   <tr>
		        	    	       <td>Numero de Historia Clinica:<td>
		        	    	       <td>{{ paciente.getNroHistoriaClinica() }}<td>
		        	    	   <tr>
		        	    	   <tr>
		        	    	       <td>Numero de Carpeta Medica:<td>
		        	    	       <td>{{ paciente.nroCarpeta() }}<td>
		        	    	   <tr>		        	    	   	
		        	    	   	    <td>
		        	    	   	    	<div class= "text-right" style="margin:1%">
	  	 									 <a href="javascript:history.back()" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Volver </a>
	  									</div>
	  								<td>
	  							    <td>
	  							    <td>
		        	    	   <tr>	
		        	      </tbody>
		        	  </table> 
	             </div> 
            </div>
       	</div>    
      </div>  
</main>
{% endblock %} 